@using E_Ticaret_Entity.Entity
@model E_Ticaret_Entity.Entity.Cart

<style>
    #cart{
        color:white;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">
    <li id="cart" class="nav-item">
        <a class="nav-link" href="/Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@Model.CartLines.Count())
        </a>
    </li>     
</ul>
